/*shared styling */

@font-face {
    font-family: norseBold;
    src: url(norse-bold-webfont.woff) format(woff);
}

body {
    background-color: rgb(41, 45, 48);
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.main-container, .logo, ul, .content {
    display: flex;
    
}

header p, h3, .links {
    padding: 0 40px;
    width: 80%;
}

/* sidebar styling */

.sidebar {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    flex: 1 0 auto;
    align-self: stretch;
    width: 35%;
    position: relative;
}


.logo-img {
    width: 100px;
    height:auto;
}

.logo {
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    top: 25%;
    width: 100%;
    padding: 32px 0;
    font-family: norseBold;
}

.sidebar p {
    color:white;
    font-size:12px;
    text-align: center;
    position: relative;
    top:95%
}

p a{
    color:white;
}




/* content styling */

.main-container {
    width: 75%;
    height: 100%;
    margin: auto;
    background-color: #f7f7f7;
}
.content {
    flex-direction: column;
    justify-content:center;
    
}

/*header styling */

header {
    margin: 0 0 48px 0;
    padding-right: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
}

/*form styling */

.sign-up-form {
    background-color: white;
    box-shadow: 0 5px 3px #00000007;
    margin-bottom: 40px;
    padding-top: 24px;
}

h3 {
    font-size: 1.5rem;
    margin:0;
}

ul {
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    width: 75%;
    padding: 0 32px 20px 32px;;
    margin: 0;

}

li {
    padding: 8px;
   margin: 8px 8px 8px 0;
}

label {
    display: block;
    font-size: 12px;
}

input{
    
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    width: 250px;
    height: 1.5rem;
    
    
}

/* links styling */

button {
    background-color: #596d48;
    padding: 1rem 2rem;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.274);
}

button:active{
    background-color:#37462b
}

.links a {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
}

.links a:active {
    color:#37462b;
}

/*input psuedo stylings */

input:focus {
    outline:none;
    border: 1px solid rgb(6, 123, 201);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.205);
}

input:invalid {
    outline: none;
    border: 1px solid red;

}

input + span {
    position: relative;
  }
  
  input + span::before {
    position: absolute;
    display:block;

  }
  
  input:invalid + span::before {
    content: "Password must have 8 characters, a number and a capital";
    color: red;
    font-size: .75rem;
  }

  
  